In [1]:
import pandas as pd

# Three most common Recommender system

- Demographic filtering
  - rekomendasi yang general (tidak sepenuhnya personalize)
  - filter hanya berdasarkan fitur demographic seperti genre, durasi dll
  - the simplest recommender system
  - ide : rekomendasi yang disukai secara umum
- Content-based Filtering
  - rekomendasi content/barang yang serupa
  - filter menggunakan fitur yang lebih spesifik seperti genre, sinopsis dll.
  - jika seseorang menonton X maka dia akan direkomendasikan film yang mirip x
- Collaborative Filtering
  - mencocokan orang dengan preferensi yang serupa
  - tidak membutuhkan filter data apapun, hanya perlu mencari similarity dengan yang lain

# Simple Demographic Filtering : Filter -> Scoring -> Sort

In [25]:
df = pd.read_csv('data/demographic.csv')
df.head()

,title,genres,runtime,vote_average,vote_count,release_year,Action,Adventure,Animation,Comedy,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,Toy Story,Animation; Comedy; Family,81.0,7.7,5415.0,1995,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,Jumanji,Adventure; Fantasy; Family,104.0,6.9,2413.0,1995,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Grumpier Old Men,Romance; Comedy,101.0,6.5,92.0,1995,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
3,Waiting to Exhale,Comedy; Drama; Romance,127.0,6.1,34.0,1995,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
4,Father of the Bride Part II,Comedy,106.0,5.7,173.0,1995,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [26]:
df.sort_values('vote_average', ascending=False)

,title,genres,runtime,vote_average,vote_count,release_year,Action,Adventure,Animation,Comedy,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
41943,Demidovy,Drama,156.0,10.0,1.0,1983,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24143,Looking for Maria Sanchez,Romance; Comedy,98.0,10.0,1.0,2013,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
39458,The Dragon Lives Again,Fantasy; Action,0.0,10.0,1.0,1977,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37383,God is on Air,Comedy; Drama,91.0,10.0,1.0,2002,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
32655,"OMG, I'm a Robot!",Comedy; Science Fiction,90.0,10.0,1.0,2015,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15239,Parisian Love,Crime; Drama; Romance,70.0,0.0,0.0,1925,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
15243,Life After Tomorrow,Documentary,72.0,0.0,0.0,2006,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15253,Supermen of Malegaon,Documentary,66.0,0.0,0.0,2009,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29963,The Last Desperate Hours,Action; Crime; Thriller,0.0,0.0,0.0,1974,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
39048,"The Strange History of Don't Ask, Don't Tell",Drama; History,0.0,0.0,0.0,2011,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

# Step 1 : Filter

In [27]:
genres = ['Animation']
duration = (60, 150)
year = (2000, 2019)
topk = 20

In [28]:
df = df[
    df.release_year.between(year[0], year[1]) &
    df.runtime.between(duration[0], duration[1]) &
    df[genres].all(axis=1) 
]
df.head()

,title,genres,runtime,vote_average,vote_count,release_year,Action,Adventure,Animation,Comedy,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
3161,The Tigger Movie,Animation; Family,77.0,6.3,146.0,2000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3354,The Road to El Dorado,Adventure; Animation; Comedy; Family,89.0,7.0,892.0,2000,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3484,Dinosaur,Animation; Family,82.0,6.2,563.0,2000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3614,Titan A.E.,Animation; Action; Science Fiction; Family; Ad...,94.0,6.3,320.0,2000,1,1,1,0,...,0,0,0,0,0,1,0,0,0,0
3619,Chicken Run,Animation; Comedy; Family,84.0,6.5,1190.0,2000,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

# Step 2 : Scoring

In [29]:
recommendation = df.loc[:, "title":"release_year"]
recommendation = recommendation.sort_values('vote_average', ascending=False).head(topk)
recommendation

,title,genres,runtime,vote_average,vote_count,release_year
25671,Rocks in my Pockets,Comedy; Animation; Drama,88.0,9.4,5.0,2014
41890,Kizumonogatari Part 3: Reiketsu,Animation; Fantasy; Mystery,82.0,9.4,5.0,2017
26636,Lotte from Gadgetville,Adventure; Animation; Comedy; Family,81.0,9.0,4.0,2006
41846,Kizumonogatari Part 2: Nekketsu,Animation; Fantasy; Mystery,68.0,8.9,11.0,2016
35577,"Fuse, Memoirs of the Hunter Girl",Action; Animation; Drama; History,110.0,8.8,4.0,2012
43038,In This Corner of the World,Animation; Drama,128.0,8.7,19.0,2016
26159,The Littlest Angel,Animation; Family,84.0,8.5,2.0,2011
40018,Your Name.,Romance; Animation; Drama,106.0,8.5,1030.0,2016
28618,The Life and Mind of Mark DeFriest,Animation; Documentary,92.0,8.5,2.0,2014
41695,The Snow Queen 3: Fire and Ice,Family; Animation; Fantasy,80.0,8.5,2.0,2016
16754,Corto Maltese: Under the Sign of Capricorn,Adventure; Animation; Action,85.0,8.3,4.0,2002
31851,The Crisis of Civilization,Documentary; Animation; History,82.0,8.3,2.0,2012
5471,Spirited Away,Fantasy; Adventure; Animation; Family,125.0,8.3,3968.0,2001
40531,The Girl Without Hands,Animation,76.0,8.3,5.0,2016
42373,My Entire High School Sinking Into the Sea,Animation,75.0,8.2,3.0,2016
40238,Over the Garden Wall,Adventure; Animation; Family; Fantasy,110.0,8.2,52.0,2014
29095,Cheatin',Animation,72.0,8.2,10.0,2013
9687,Howl's Moving Castle,Fantasy; Animation; Adventure,119.0,8.2,2049.0,2004
40334,Tower,Animation; Crime; Documentary,83.0,8.1,50.0,2016
24971,Song of the Sea,Family; Animation; Fantasy,93.0,8.1,420.0,2014

# IMDB Weighted Rating

Film dengan 100 orang yang vote 9.5 seakan-akan lebih baik daripada 10000 orang dengan vote 9.0. <br>
harusnya dibobot dengan jumlah orang yang vote juga. <br>IMDB Weighted Rating :
\begin{equation}
WR = \frac{Rv+Cm}{v+m}
\end{equation}

- $v$ : jumlah voting film -> vote_count
- $m$ : syarat minimum vote -> menggunakan quantile
- $R$ : rata-rata rating -> vote_average
- $C$ : rata-rata rating semua film -> bisa dihitung

In [30]:
def imdb_score(df):
    df = df.copy()
    m = df.vote_count.quantile(0.85)
    C = (df.vote_average * df.vote_count).sum() / df.vote_count.sum()
    df = df[df.vote_count >= m]
    df['score'] = df.apply( lambda x: (x.vote_average * x.vote_count + C * m) / (x.vote_count + m), axis=1)
    return df

In [31]:
df = imdb_score(df)

In [32]:
recommendation = df.sort_values('score', ascending=False).head(topk)
recommendation = recommendation.loc[:, "title":"release_year"]
recommendation

,title,genres,runtime,vote_average,vote_count,release_year
5471,Spirited Away,Fantasy; Adventure; Animation; Family,125.0,8.3,3968.0,2001
40018,Your Name.,Romance; Animation; Drama,106.0,8.5,1030.0,2016
9687,Howl's Moving Castle,Fantasy; Animation; Adventure,119.0,8.2,2049.0,2004
30208,Inside Out,Drama; Comedy; Animation; Family,94.0,7.9,6737.0,2015
13710,Up,Animation; Comedy; Family; Adventure,96.0,7.8,7048.0,2009
12693,WALL·E,Animation; Family,98.0,7.8,6439.0,2008
24383,Big Hero 6,Adventure; Family; Animation; Action; Comedy,102.0,7.8,6289.0,2014
36082,Zootopia,Animation; Adventure; Family; Comedy,108.0,7.7,4961.0,2016
6221,Finding Nemo,Animation; Family,100.0,7.6,6292.0,2003
15328,Toy Story 3,Animation; Family; Comedy,103.0,7.6,4710.0,2010
23489,How to Train Your Dragon 2,Fantasy; Action; Adventure; Animation; Comedy;...,102.0,7.6,3163.0,2014
4746,"Monsters, Inc.",Animation; Comedy; Family,92.0,7.5,6150.0,2001
11556,Ratatouille,Animation; Comedy; Family; Fantasy,111.0,7.5,4510.0,2007
14965,How to Train Your Dragon,Fantasy; Adventure; Animation; Family,98.0,7.5,4319.0,2010
39787,Kubo and the Two Strings,Animation; Adventure; Family,102.0,7.7,982.0,2016
22656,The Lego Movie,Adventure; Animation; Comedy; Family; Fantasy,100.0,7.5,3127.0,2014
14294,Mary and Max,Animation; Comedy; Drama,92.0,7.8,596.0,2009
8223,The Incredibles,Action; Adventure; Animation; Family,115.0,7.4,5290.0,2004
21375,The Wind Rises,Animation,126.0,7.7,720.0,2013
16108,Tangled,Animation; Family,100.0,7.4,3419.0,2010

# ML Enginering : Sum Them All Up

In [56]:
class RecommenderSystem:
    def __init__(self, data):
        self.df = pd.read_csv(data)
    def recommend(self, genres=None, duration=None, year=None, topk=10):
        df = self.df.copy()
        df = self.demographic_filter(df, genres=genres, duration=duration, year=year)
        df = self.compute_imdb_score(df)
        result = df.sort_values('score', ascending=False).head(topk)
        result = result.loc[:, "title":"release_year"]
        return result
    @staticmethod
    def demographic_filter(df, genres=None, duration=None, year=None):
        df = df.copy()
        if genres:
            df = df[df[genres].all(axis=1)]
        if duration:
            df = df[df.runtime.between(duration[0], duration[1])]
        if year:
            df = df[df.release_year.between(year[0], year[1])]
        return df
    @staticmethod 
    def compute_imdb_score(df, q=0.85):
        df = df.copy()
        m = df.vote_count.quantile(q)
        C = (df.vote_average * df.vote_count).sum() / df.vote_count.sum()
        df = df[df.vote_count >= m]
        df['score'] = df.apply( lambda x: (x.vote_average * x.vote_count + C * m) / (x.vote_count + m), axis=1)
        return df

In [57]:
recsys = RecommenderSystem(data="data/demographic.csv")

In [58]:
recsys.recommend(genres=['Animation'], duration=(60, 150), year=(2010, 2019))

,title,genres,runtime,vote_average,vote_count,release_year
40018,Your Name.,Romance; Animation; Drama,106.0,8.5,1030.0,2016
30208,Inside Out,Drama; Comedy; Animation; Family,94.0,7.9,6737.0,2015
24383,Big Hero 6,Adventure; Family; Animation; Action; Comedy,102.0,7.8,6289.0,2014
36082,Zootopia,Animation; Adventure; Family; Comedy,108.0,7.7,4961.0,2016
15328,Toy Story 3,Animation; Family; Comedy,103.0,7.6,4710.0,2010
23489,How to Train Your Dragon 2,Fantasy; Action; Adventure; Animation; Comedy;...,102.0,7.6,3163.0,2014
14965,How to Train Your Dragon,Fantasy; Adventure; Animation; Family,98.0,7.5,4319.0,2010
39787,Kubo and the Two Strings,Animation; Adventure; Family,102.0,7.7,982.0,2016
22656,The Lego Movie,Adventure; Animation; Comedy; Family; Fantasy,100.0,7.5,3127.0,2014
21375,The Wind Rises,Animation,126.0,7.7,720.0,2013